<Configuration>
  <Add OfficeClientEdition="64" Channel="PerpetualVL2024">
    <Product ID="ProPlus2024Volume">
      <Language ID="es-mx" />

      <ExcludeApp ID="Access" />
      <ExcludeApp ID="Lync" />      <ExcludeApp ID="OneDrive" />  <ExcludeApp ID="OneNote" />   <ExcludeApp ID="Outlook" />   <ExcludeApp ID="Teams" />     </Product>
  </Add>

  <Updates Enabled="TRUE" Channel="PerpetualVL2024" />
  <RemoveMSI />
  <Display Level="None" AcceptEULA="TRUE" />

</Configuration>